body {
    margin: 20px;
    font-family: Tahoma; 
}

.rebLogo {
    width: 200px;
}

.card {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    text-align: center;
    width: 400px;
    justify-content: space-around;
    background: #ffd60a;
    border-bottom: 15px solid #ffc300;
    border-radius: 10px;
}
 
.italic {
    font-style: italic;
}

